.features {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  @media (min-width: 992px) {
    .features {
      margin-top: 0px;
    }
  }
  @media (min-width: 1400px) {
    .features {
      margin-bottom: 120px;
    }
  }
  @media (min-width: 1400px) {
    .features .big-container {
      border: 1px solid #b6b6bc;
    }
  }
  .features .container {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 992px) {
    .features .container {
      flex-direction: row;
      padding-top: 50px;
      padding-bottom: 40px;
      border-top: 1px solid #b6b6bc;
      border-bottom: 1px solid #b6b6bc;
    }
  }
  @media (min-width: 1200px) {
    .features .container {
      padding-top: 80px;
      padding-bottom: 0px;
    }
  }
  @media (min-width: 1400px) {
    .features .container {
      border: none;
    }
  }
  .features .container .section-title {
    margin-bottom: 40px;
  }
  @media (min-width: 992px) {
    .features .container .section-title {
      margin-right: 50px;
      max-width: 460px;
      margin-bottom: 100px;
    }
  }
  @media (min-width: 1400px) {
    .features .container .section-title {
      margin-right: 100px;
      margin-bottom: 200px;
    }
  }
  @media (min-width: 1600px) {
    .features .container .section-title {
      margin-right: 150px;
    }
  }
  .features .container .section-title h2 {
    margin-bottom: 40px;
  }
  .features .container .section-title a {
    display: flex;
    justify-content: center;
  }
  .features .container .feature-list {
    display: grid;
    grid-template-columns: 1fr;
  }
  @media (min-width: 992px) {
    .features .container .feature-list {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (min-width: 1200px) {
    .features .container .feature-list {
      margin-bottom: 80px;
    }
  }
  @media (min-width: 1400px) {
    .features .container .feature-list {
      -moz-column-gap: 35px;
           column-gap: 35px;
    }
  }
  @media (min-width: 1600px) {
    .features .container .feature-list {
      margin-right: 80px;
      -moz-column-gap: 45px;
           column-gap: 45px;
    }
  }
  .features .container .feature-list .feature {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-right: 20px;
    border-top: 1px solid #b6b6bc;
  }
  @media (min-width: 992px) {
    .features .container .feature-list .feature {
      text-align: start;
      border: none;
      padding-bottom: 0px;
    }
  }
  .features .container .feature-list .feature i {
    font-size: 30px;
    padding-bottom: 35px;
  }