.meet-team {
    background-color: #EDCF86;
  }
  .meet-team .container {
    display: flex;
    flex-direction: column;
    padding-bottom: 75px;
  }
  .meet-team .container .team-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 50px;
  }
  @media (min-width: 992px) {
    .meet-team .container .team-header {
      flex-direction: row;
      padding-top: 120px;
    }
  }
  .meet-team .container .team-header .btn-yellow {
    margin-top: auto;
    margin-bottom: 30px;
    border: 1px solid #191919;
  }
  .meet-team .container .team {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
  @media (min-width: 992px) {
    .meet-team .container .team {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  .meet-team .container .team .team-member {
    text-align: center;
  }
  @media (min-width: 992px) {
    .meet-team .container .team .team-member {
      text-align: start;
    }
  }
  .meet-team .container .team .team-member h3 {
    margin-top: 25px;
  }
  .meet-team .container .team .team-member img {
    width: 90%;
    height: auto;
  }
  @media (min-width: 776px) {
    .meet-team .container .team .team-member img {
      width: 100%;
    }
  }
  .meet-team .container .scroll {
    margin-top: 20px;
  }
  .meet-team .container .scroll .button-container .scroll-circle {
    background-color: #C3AB70;
  }
  .meet-team .container .scroll .button-container .active {
    background-color: #191919;
  }