header {
  background-color: #f0efe9;
}
header .container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
header .container #crito-logotype {
  padding-right: 90px;
}
header .container .menu-bars {
  font-size: 25px;
  border: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .header-contact {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dad9d3;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .header-contact {
    justify-content: space-between;
  }
}
header .container .menu .header-contact .contact-info {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .header-contact .contact-info {
    display: flex;
  }
}
header .container .menu .header-contact .contact-info .contact {
  font-size: 15px;
  font-weight: 300;
  padding-right: 30px;
  margin-right: 20px;
  border-right: 1px solid #dad9d3;
}
header .container .menu .header-contact .contact-info .contact i {
  margin-right: 3px;
  font-size: 1.2em;
}
header .container .menu .header-contact .contact-info .contact.last {
  border: none;
}
header .container .menu .header-contact .social-media {
  width: 120px;
}
header .container .menu .header-contact .social-media .social-media-button:hover {
  color: #9c9c9c;
}
header .container .menu .header-contact .social-media .social-media-button:active {
  color: #5f5f5f;
}
header .container .menu .header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
header .container .menu .header-menu .nav {
  display: flex;
  justify-content: space-between;
}
header .container .menu .header-menu .nav a {
  text-decoration: inherit;
  cursor: pointer;
  display: inline-block;
  margin-right: 35px;
  position: relative;
  color: inherit;
}
header .container .menu .header-menu .nav a:after {
  content: "";
  position: relative;
  opacity: 0;
  transition: all 0.5s;
  left: -25%;
}
header .container .menu .header-menu .nav a.active::after, header .container .menu .header-menu .nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
  opacity: 1;
}

