.project-case .container {
    padding-top: 60px;
  }
  @media (min-width: 768px) {
    .project-case .container {
      padding-top: 120px;
    }
  }
  .project-case .container .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  @media (min-width: 768px) {
    .project-case .container .section-title {
      padding-bottom: 60px;
    }
  }
  .project-case .container .project-case-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  @media (min-width: 768px) {
    .project-case .container .project-case-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  .project-case .container .project-case-grid .article h3 {
    padding-top: 35px;
    padding-bottom: 16px;
    border-bottom: 1px solid #e7e7e7;
  }
  .project-case .container .project-case-grid .article .read-more {
    padding: 15px;
    font-family: "Inter", sans-serif;
    display: block;
    text-align: end;
    font-size: 14px;
  }
  .project-case .container .project-case-grid .article i {
    margin-left: 12px;
  }
  .project-case .container .project-case-grid .article:hover .read-more {
    text-decoration: underline;
  }
  .project-case .container .center-item {
    margin-top: 64px;
    margin-bottom: 90px;
  }