.choose-us {
    position: relative;
    z-index: 0;
  }
  .choose-us .background-box {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #f0efe9;
    height: 425px;
  }
  @media (min-width: 1400px) {
    .choose-us .background-box {
      display: block;
      width: 950px;
    }
  }
  @media (min-width: 1620px) {
    .choose-us .background-box {
      width: 1057px;
    }
  }
  .choose-us .container {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
  }
  @media (min-width: 1200px) {
    .choose-us .container {
      flex-direction: row;
    }
  }
  .choose-us .container .choose-us-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: 992px) {
    .choose-us .container .choose-us-text {
      margin-right: 50px;
    }
  }
  @media (min-width: 1400px) {
    .choose-us .container .choose-us-text {
      margin-right: 150px;
    }
  }
  .choose-us .container .choose-us-text .section-title {
    padding-top: 0px;
    padding-bottom: 30px;
    text-align: center;
  }
  @media (min-width: 1200px) {
    .choose-us .container .choose-us-text .section-title {
      text-align: start;
    }
  }
  .choose-us .container .choose-us-text .reasons-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  @media (min-width: 776px) {
    .choose-us .container .choose-us-text .reasons-list {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (min-width: 1200px) {
    .choose-us .container .choose-us-text .reasons-list {
      grid-template-columns: 1fr;
    }
  }
  .choose-us .container .choose-us-text .reasons-list .reason {
    display: flex;
    flex-direction: row;
  }
  .choose-us .container .choose-us-text .reasons-list .reason .icon-circular {
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-items: center;
  }
  .choose-us .container .choose-us-text .reasons-list .reason .icon-circular i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: 1px solid #D1D1D1;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 15px;
  }
  .choose-us .container .choose-us-text .reasons-list .reason .reason-text {
    display: flex;
    flex-direction: column;
  }
  .choose-us .container img {
    display: none;
    height: 100%;
    width: 100%;
    max-width: 645px;
    margin-top: 40px;
  }
  @media (min-width: 992px) {
    .choose-us .container img {
      margin-left: 20px;
    }
  }
  @media (min-width: 1200px) {
    .choose-us .container img {
      display: block;
    }
  }
  @media (min-width: 1400px) {
    .choose-us .container img {
      margin-left: 100px;
    }
  }